/* ---- Index indhold ----- */

.forside_hero-container {
  background-color: var(--background-color);
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.forside_hero-image img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.forside_hero-content {
  padding: 50px 10px;
}

.forside_hero-tagline {
  font-style: italic;
  font-weight: 600;
}

.forside_hero-beskrivelse {
  line-height: 1.3;
  color: #333;
  margin-bottom: 20px;
  margin-top: 0.8rem;
}

.index_button {
  display: inline-block;
  background-color: var(--dark-blue-color);
  color: var(--text-color-white);
  padding: 15px 30px;
  /* text-decoration: none; */
  border-radius: 25px;
  font-family: "Quicksand", serif;
  font-weight: 550;
  letter-spacing: 0.8px;
  transition: background 0.3s ease, transform 0.2s ease;
}

@media (min-width: 769px) {
  .forside_hero-container {
    background-color: var(--background-color);
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /* max-height: 500px; */
    /* margin: 0 auto; */
    /* overflow: hidden; */
  }

  .forside_hero-image {
    order: 2;
  }
  .forside_hero-image img {
    height: 100vh; /* Desktop: Fuld højde */
  }

  .forside_hero-content {
    padding: 20px;
  }

  .newsletter_button {
    border-radius: 20px;
    display: inline-block;
    background-color: var(--dark-blue-color);
    color: var(--text-color-white);
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 25px;
    font-family: "Quicksand", serif;
    font-weight: 550;
    letter-spacing: 1px;
    transition: background 0.3s ease, transform 0.2s ease;
  }
}
