* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Skrifttyper */

.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  /* Farver */
  --dark-blue-color: #2e5ba0;
  --light-blue-color: #7eb2dd;
  --background-color: #fff8e3;
  --text-color-black: black;
  --text-color-white: white;

  --font-paragraph: "Quicksand", serif;
  --font-headline: Arial, Helvetica, sans-serif;

  /* Typografi */
  --h1-size: 3rem;
  --h2-size: 2.5rem;
  --h3-size: 2rem;
  --h4-size: 1.5rem;
  --h5-size: 1.25rem;
  --p-size: 1rem;
}

/* KIG HER */
/* body {
  font-family: var(--font-primary);
  background-color: var(--background-color);
  color: var(--text-color);
} */

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}

h4 {
  font-size: var(--h4-size);
}

h5 {
  font-size: var(--h5-size);
}

p {
  font-size: var(--p-size);
}
